.chatWrapper {
  width: 100%;
  max-width: 650px;
  background: #fafafa;
  height: 78vh;
  padding: 10px;
  align-items: center;
  overflow-y: scroll;
}

.messageWrapper {
  width: 100%;
  max-width: 250px;
  height: max-content;
  border-radius: 8px;
  padding: 10px 15px;
}

.messageWrapper.to {
  background: #e6f4ff;
  align-self: start;
}

.messageWrapper.from {
  background: #40a9ff;
  color: #FFFFFF;
  align-self: end;
}

.messageContent {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.sender {
  font-size: 12px;
  font-weight: 600;
  opacity: 0.8;
}
