.listWrapper {
  width: 100%;
  max-width: 500px;
  background: #fff;
  border-radius: 8px;
  padding: 8px;
  height: 100%;
  overflow-y: auto;
}

.listBlock{
 width: 100%;
}

.chatItem {
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 8px;
  transition: all 0.2s;
}

.chatItem:hover {
  background: #f0f0f0;
}

.chatItem.selected {
  background: #e6f4ff;
}
