.formWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.inputWrapper {
  position: relative;
  width: 100%;
  max-width: 650px;
}

.btnWrapper {
  position: absolute;
  bottom: 5px;
  right: 5px;
}