.title{
    display: block;
  font-size: 1.5em;
  font-weight: 400;
  color: #fafafa;
  line-height: 1.2;
  margin: 0;
}

.headerContainer{
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #40a9ff;
}
.layoutContainer {
    display: flex;
    flex-direction: column;
}

.contentSection {
    display: flex;
    flex-direction: column;
    padding: 0 32px;
    height: 100%;
    overflow-y: scroll;
}

.footerSection {
    padding: 10px;
    background: #ffffff;
    text-align: center;
}

@media (max-width: 568px){
    .headerContainer{
        padding: 0 25px;
    }
}